.fl_sc_div{
    margin: 2vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter{
    width: 100%;
    max-width: 420px;
    display: flex;
    justify-content: space-between;
}

.searchbar{
    width: 100%;
    max-width: 400px;
}

@media screen and (max-width: 866px) {

    .searchbar{
        max-width:90vw; 
        margin: 1vw 0; 
    }

}
@media screen and (max-width: 480px) {

    .filter{
        flex-direction: column;
        max-width: 100%;
    }

    .searchbar{
        max-width: 100%;
        margin: 0;
    }
}