/* Base styles */
.retreatCard {
    padding: 1vw;
    width: 28vw;  
    background-color: #e0d9cf; 
    border-radius: 7px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.retreatImage {
    width: 60%;
    height: 180px;
    object-fit: cover;
    border-radius: 7px;
}

.retreatTitle {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

.retreatDescription, .retreatDate {
    margin-top: 10px;
}

/* Responsive styles */
@media (max-width: 900px) {
    .retreatCard {
        width: 80vw; 
        margin: 2vw auto; /* Center the card */
        padding: 2vw;
    }

    .retreatImage {
        width: 100%;
        height: auto; /* Adjust height based on content */
        object-fit: cover;
        border-radius: 7px; 
    }
}

@media (max-width: 768px) {
    .retreatCard {
        width: 90vw; 
        margin: 2vw auto; /* Center the card */
        padding: 2vw;
    }

    .retreatImage {
        width: 100%;
        height: auto; /* Adjust height based on content */
        object-fit: cover;
        border-radius: 7px; 
    }
}

@media (max-width: 480px) {
    .retreatCard {
        width: 90vw; 
        margin: 2vw auto; /* Center the card */
        padding: 2vw;
    }

    .retreatImage {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 7px; 
    }
}
